*{
    box-sizing: border-box;  
    padding:0;
    margin:0;
}
#display{
    font-family: 'Krona One', sans-serif;
    border:5px dotted rgb(113, 165, 113);
    background-color: honeydew;
}
#display h1{
    text-transform: uppercase;
    color:rgb(191, 216, 191);
    padding-top:20px;
    padding-left:50px;
}
#list{
    display:flex;
    height: 100vh;
    padding:30px;
    flex-direction: column;
    flex-wrap: wrap;
}
#list  > li{
    font-size: 25px;
    display: inline;
    list-style: none;  
    padding:10px;
}
li > span{
    color:green;
    font-weight: bold;
}
li > strong{
    color:rgb(161, 5, 5);
}